name: Build APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies & build
        run: |
          sudo apt-get update
          sudo apt-get install -y git zip unzip openjdk-17-jdk python3-pip build-essential
          python3 -m pip install --upgrade pip
          pip3 install --user buildozer
          export PATH=$PATH:~/.local/bin
          buildozer -v android debug

      - name: Upload artifact (APK)
        uses: actions/upload-artifact@v4
        with:
          name: apk-artifact
          path: bin/*.apk
